.container {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    /* t r b l */
    margin: 25px 25px 0px 100px;
    padding: 100px;
}

.signup {
    border: 2px solid violet;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 150px;
    background-color: beige;
    box-shadow: 50px 50px 50px violet;
    border-radius: 50px;
    margin: 25px 350px 25px 350px
}

.but {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.data {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.signup-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-container {
    display: flex;

    justify-content: space-around;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: darkgrey;
}

.head-items {
    display: flex;
    list-style: none;
    gap: 15px;

}

.head-items a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
}


.head-items a:hover {
    text-decoration: none;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    transition: 0.5s;
}



.logo-image {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.logo {}

.head-container {
    display: flex;
    align-items: center;
}

.login-container {
    background-color: grey(255, 132, 0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images3.alphacoders.com/208/thumb-1920-208059.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    background-attachment: fixed;

}

body {
    margin: 0;
    padding: 0;


}

.vi-bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.content {
    font-size: x-large;
    font-weight: bold;
    color: white;

}

.login-form {
    padding: 150px;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    justify-content: center;
    align-content: center;
    gap: 10px;
    background-color: rgb(255, 251, 0);
    text-align: center;
    box-shadow: inset -50px -50px 50px rgb(255, 0, 0);
    height: 100px;
    width: 100px;
    border-radius: 100px;
    align-items: center;

}

.form-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;


}

.login-button button {

    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: red;
    justify-content: center;
}

/*.main-section {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    background-attachment: fixed;
}

.box {
    height: 250px;
    width: 250x;
    background-image: url("https://www.topgear.com/sites/default/files/news-listicle/image/b16aa0251.jpg");
    background-repeat: no-repeat;
    background-position: start;
    background-size: contain;

}

.box:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-image: url("https://images.unsplash.com/photo-1680451553374-09d8d6a1ca58?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    background-repeat: no-repeat;
    background-position: start;
    background-size: contain;
    height: 250px;
    width: 250x;
    padding: 20px;
    margin: 20px;

}

.box1 {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 10px;
}*/

.footer-content {
    background-color: grey;
    color: black;
    text-align: center;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
}

