* {
    box-sizing: border-box;
    font-family: arial;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3 ease, color 0.3 ease;
    background: #f5f5f5;
    color: #222;
    font-family: Arial;
}

body.dark {
    background: #121212;
    color: #f5f5f5;
}

body.dark .toogle-card {
    background: rgba(20, 20, 20, 0.9);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.7);
}

.toogle-card {
    text-align: center;
    padding: 20px 30px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {}

.lig-but {
    background: #fff;
    border: 1px solid #ccc;
}

.dar-but {
    background: #222;
    color: #fff;
    border: 1px solid #222;
}

.button-grp {
    display: flex;
    justify-content: center;
}